{%- raw -%}
  {% comment %} --- Settings --- {% endcomment %}
  {% comment %} ------ login_page_url - the URL the button should redirect to in order to arrive at the login form. ------ {% endcomment %}
  {% assign login_page_url = '/login' %}
  {% comment %} --- End Settings --- {% endcomment %}
  <a href="{{login_page_url}}">Login</button>
{%- endraw -%}